body{line-height:1.6;color:#444; background-color:white}

img {max-width:100%}



.left {display:block;margin-right:30px; min-width:300px;}

h1 {padding-top:0px; margin-top:0px; font-size:40px;line-height:1.2}

Hr {border: 1px solid #646464; margin-top:20px}
.feature {margin-bottom:50px}





.home {text-decoration:none;}



Figure {margin:0px}



.home {border-top: 0px}






td {padding:3px}









p,ol,ul { font-size:21px; line-height:1.6}

figcaption {font-size:21px, font-style:italic}



.container {max-width:900px; margin:auto; padding:20px}






.left ol {list-style:none}



ol.nav a {display:block; width:100%; font-family: Arial, Sans Serif; font-size:21px;  padding:7px}




.nav {width:100%; padding:0px; margin-top:-10px}

p {max-width:700px}













ol {max-width:700px}





h3 {font-weight:900; font-size:30px }

@media screen and (max-width: 500px) {
  .container {display:initial; width:100%; }
.nav  a {padding:0px; width:100%}
.left {margin:0px; width:100%;padding:0px}

ol a {margin:0px}
  ol.nav a {font-size:50px}
 



}

img {max-width:100%}
