body{line-height:1.4;color:#444; background-color:white}

img {max-width:100%}

h1,h3,p,a,li {font-family:Helvetica,Arial,Sans-Serif}

.left {display:block;margin-right:30px; min-width:300px;}

h1 {padding-top:0px; margin-top:0px; font-size:40px;line-height:1.2; font-weight:600;}

Hr {border: 1px solid #646464; margin-top:20px}
.feature {margin-bottom:50px}



.gallery {margin-bottom:40px}

.home {text-decoration:none;}



Figure {margin:0px}



.home {border-top: 0px}






td {padding:3px}




h1 {line-height:1.2}




p,ol,ul { font-size:21px; line-height:1.4; max-width:700px}

figcaption {font-size:18px; font-style:italic}



.container {max-width:900px; margin:auto; padding:20px}






.left ol {list-style:none}









@media screen and (max-width: 500px) {
  .container {display:initial; width:100%; }

.left {margin:0px; width:100%;padding:0px}



 
h1 {font-size:30px; line-height:1.2}



}

img {max-width:100%}






h3 {font-size:26px; line-height:1.2}



table {text-align:center}
